# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# Environment
.env

# Uploads and outputs
uploads/
raw_outputs/

# Node
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# React
frontend/build/
frontend/.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
